### Maven Project ###
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### eclipse ###
.metadata
.settings
.classpath
.project
Servers/

### Application Setting ###
*.yml
*.properties