
a {
    text-decoration: none !important; 
    color: black !important;
}

#board>ul>li{
    height: 3rem;
    display: grid; 
    grid-template-columns: 100px 1fr 100px;
    line-height: 40px;
    
}
#board>ul>li>div{
    border: 1px solid black;

}

form {
	margin: 0px;
}